<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Seek0</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>Codec-Warm-Bold-Italic-trial.ttf</string>
		<string>Codec-Warm-Bold-trial.ttf</string>
		<string>Codec-Warm-ExtraBold-Italic-trial.ttf</string>
		<string>Codec-Warm-ExtraBold-trial.ttf</string>
		<string>Codec-Warm-ExtraLight-Italic-trial.ttf</string>
		<string>Codec-Warm-ExtraLight-trial.ttf</string>
		<string>Codec-Warm-Heavy-Italic-trial.ttf</string>
		<string>Codec-Warm-Heavy-trial.ttf</string>
		<string>Codec-Warm-Light-Italic-trial.ttf</string>
		<string>Codec-Warm-Light-trial.ttf</string>
		<string>Codec-Warm-News-Italic-trial.ttf</string>
		<string>Codec-Warm-News-trial.ttf</string>
		<string>Codec-Warm-Regular-Italic-trial.ttf</string>
		<string>Codec-Warm-Regular-trial.ttf</string>
		<string>Codec-Warm-Thin-Italic-trial.ttf</string>
		<string>Codec-Warm-Thin-trial.ttf</string>
		<string>GalanoGrotesqueAltBlack.otf</string>
		<string>GalanoGrotesqueAltBlackItalic.otf</string>
		<string>GalanoGrotesqueAltBold.otf</string>
		<string>GalanoGrotesqueAltBoldItalic.otf</string>
		<string>GalanoGrotesqueAltExtraBold.otf</string>
		<string>GalanoGrotesqueAltExtraBoldItalic.otf</string>
		<string>GalanoGrotesqueAltExtraLight.otf</string>
		<string>GalanoGrotesqueAltExtraLightItalic.otf</string>
		<string>GalanoGrotesqueAltHeavy.otf</string>
		<string>GalanoGrotesqueAltHeavyItalic.otf</string>
		<string>GalanoGrotesqueAltItalic.otf</string>
		<string>GalanoGrotesqueAltLight.otf</string>
		<string>GalanoGrotesqueAltLightItalic.otf</string>
		<string>GalanoGrotesqueAltMedium.otf</string>
		<string>GalanoGrotesqueAltMediumItalic.otf</string>
		<string>GalanoGrotesqueAltRegular.otf</string>
		<string>GalanoGrotesqueAltSemiBold.otf</string>
		<string>GalanoGrotesqueAltSemiBoldItalic.otf</string>
		<string>GalanoGrotesqueAltThin.otf</string>
		<string>GalanoGrotesqueAltThinItalic.otf</string>
		<string>GalanoGrotesqueBlack.otf</string>
		<string>GalanoGrotesqueBlackItalic.otf</string>
		<string>GalanoGrotesqueBold.otf</string>
		<string>GalanoGrotesqueBoldItalic.otf</string>
		<string>GalanoGrotesqueExtraBold.otf</string>
		<string>GalanoGrotesqueExtraBoldItalic.otf</string>
		<string>GalanoGrotesqueExtraLight.otf</string>
		<string>GalanoGrotesqueExtraLightItalic.otf</string>
		<string>GalanoGrotesqueHeavy.otf</string>
		<string>GalanoGrotesqueHeavyItalic.otf</string>
		<string>GalanoGrotesqueItalic.otf</string>
		<string>GalanoGrotesqueLight.otf</string>
		<string>GalanoGrotesqueLightItalic.otf</string>
		<string>GalanoGrotesqueMedium.otf</string>
		<string>GalanoGrotesqueMediumItalic.otf</string>
		<string>GalanoGrotesqueRegular.otf</string>
		<string>GalanoGrotesqueSemiBold.otf</string>
		<string>GalanoGrotesqueSemiBoldItalic.otf</string>
		<string>GalanoGrotesqueThin.otf</string>
		<string>GalanoGrotesqueThinItalic.otf</string>
		<string>MundialBlack.otf</string>
		<string>MundialBlackItalic.otf</string>
		<string>MundialBold.otf</string>
		<string>MundialBoldItalic.otf</string>
		<string>MundialDemibold.otf</string>
		<string>MundialDemiboldItalic.otf</string>
		<string>MundialHair.otf</string>
		<string>MundialHairItalic.otf</string>
		<string>MundialItalic.otf</string>
		<string>MundialLight.otf</string>
		<string>MundialLightItalic.otf</string>
		<string>MundialRegular.otf</string>
		<string>MundialThin.otf</string>
		<string>MundialThinItalic.otf</string>
	</array>
</dict>
</plist>
